$row-height-sm: 70vh;
$row-height-md: 75vh;
$row-height: 80vh;

@media screen and (max-height: 640px){
  .gallery-row{}
}

@media screen and (min-height: 640px) and (max-height: 820px){
  .gallery-row{
    min-height: $row-height-sm;
    max-height: $row-height-sm;
    height: $row-height-sm;
  }
}

@media screen and (min-height: 820px) and (max-height: 1090px){
  .gallery-row{
    min-height: $row-height-md;
    max-height: $row-height-md;
    height: $row-height-md;
  }
}

@media screen and (min-height: 1090px) {
  .gallery-row{
    min-height: $row-height;
    max-height: $row-height;
    height: $row-height;
  }
}
