<div class="container-fluid text-justify">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5">Xanathar's Lair & Sylgar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec adipiscing tristique risus nec feugiat in fermentum posuere urna. Quis risus sed vulputate odio ut enim blandit. Nibh cras pulvinar mattis nunc sed blandit libero. Egestas sed sed risus pretium quam vulputate. Volutpat blandit aliquam etiam erat velit scelerisque in dictum non. Turpis egestas sed tempus urna et pharetra pharetra massa massa. Gravida rutrum quisque non tellus. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Cursus risus at ultrices mi.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <img src="assets/animation/storyboard.png" class="img-fluid" alt="...">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      Pharetra magna ac placerat vestibulum lectus. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Elit eget gravida cum sociis. Vitae nunc sed velit dignissim sodales. Cras adipiscing enim eu turpis egestas pretium. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Et malesuada fames ac turpis egestas integer eget aliquet. Sed euismod nisi porta lorem mollis. Enim nunc faucibus a pellentesque.
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <img src="assets/animation/comingsoon.png" class="img-fluid" alt="...">
    </div>
  </div>
</div>
