<div class="container text-justify">
  <div class="row">
    <div class="col-12">
      <h1>Xanathar's Lair & Sylgar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="assets/animation/storyboard.png" class="img-fluid" alt="...">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <video controls loop class="img-fluid">
        <source src="assets/animation/Beholder_with_Fish_1.mp4">
      </video>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Anemoculus Hunt</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img src="assets/animation/storyboard-anemuculushunt.png" class="img-fluid" alt="...">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <video controls loop class="img-fluid">
        <source src="assets/animation/anemoculushunt_1.mp4">
      </video>
    </div>
  </div>
</div>
