<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5">About me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7 text-justify">
      <p>
        Hello, I'm a passionate individual hailing from Austria. As a woman with a strong background in Software
        Engineering, I've spent significant time immersed in the world of code, algorithms, and problem-solving.
        However, my journey is about to take an exciting turn as I embark on a new chapter by pursuing studies in
        Digital Arts.
        This upcoming transition reflects my diverse interests and creative spirit.
      </p>

      <p>
        Programming isn't just a skill for me; it's a way of thinking that I've honed over time. I find joy in crafting
        elegant solutions to complex problems and am captivated by the endless possibilities that technology offers.
        Outside of coding, I'm an avid gamer who appreciates the artistry and storytelling within video games.
      </p>

      <p>
        My creative inclinations extend beyond the virtual world. I'm a multi-instrumentalist, skilled in playing
        various musical instruments, which provides another outlet for my artistic expression.
        I also find delight in photography, capturing the world around me and preserving it in images.
        Equally, I find solace in sports, actively engaging my body to maintain a healthy balance. However, when it's
        time to unwind and relax, nothing compares to the
        tranquility I find in drawing. This creative process allows me to detach from the daily hustle and tap into a
        world of imagination and serenity.
      </p>

      <p>
        With a strong foundation in Software Engineering and a forthcoming journey into Digital Arts,
        I am a blend of technical prowess and artistic flair. I eagerly anticipate the challenges and
        discoveries that lie ahead and am excited to explore the intersection of technology and creativity in
        new and innovative ways.
      </p>

      <button class="btn btn-primary-outline mt-5">Download CV</button>
    </div>
    <div class="col-5 text-end ps-3">
      <img src="assets/aboutme/viktoria-streibl.png" class="img-fluid" alt="...">
    </div>
  </div>
</div>


