<div class="container p-5">
  <div class="row mb-5">
    <div class="col-12">
      <h1>About me</h1>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 text-start d-md-none mb-4">
      <img src="assets/aboutme/viktoria-streibl.png" class="img-fluid" alt="...">
    </div>

    <div class="col-sm-12 col-md-7 text-justify">
      <p>
        I'm a Higher Technical College graduate from Austria with a background in Software Engineering.<br>
		    I started coding back in 2013. Since then I enjoy programming as well as gaming, playing musical 
		    instruments, and staying active in sports.<br>
		    Expressing my creativity in form of art or projects is my go-to relaxation activity, 
		  that's why I would love to study digital arts to combine my technical skills with my creative interests.
      </p>
      <a class="btn btn-primary-outline mt-5" href="assets/aboutme/CurriculumVitae_ViktoriaStreibl.pdf" download="CurriculumVitae_ViktoriaStreibl.pdf">Download CV</a>
    </div>
    <div class="col-md-5 text-end ps-3 d-none d-md-block">
      <img src="assets/aboutme/viktoria-streibl.png" class="img-fluid" alt="...">
    </div>
  </div>
</div>