$background: #1e1e1e;
$on-background: white;

$primary: #1DDDBD;
$on-primary: #212529;

$secondary: #99ffee;

$body-bg-dark: #1e1e1e;

$primary-container: #2a2a2a;
$on-primary-container: white;

$background-darker: #1c1c1c;
