$primary: #006e25;
$on-primary: #ffffff;

$secondary: #526350;
$on-secondary: #ffffff;

$secondary-container: #d5e8d0;
$on-secondary-container: #101f10;

$background: white;
$on-background: #1a1c19;

$surface: #fcfdf7;
$on-surface: #1a1c19;

$outline: #72796f;
