<div class="collapse collapse-horizontal show"
     [id]="id">
  <div
    class="min-vh-100 bg-dark text-bg-dark float-start sticky-top">
    <div class="ps-5 pe-5 pt-2 ">
      <h1>Viktoria Streibl</h1>
    </div>
    <div>
      <ul class="list-group list-group-flush list-group mt-5">
        <a class="list-group-item list-group-item-action"
          routerLink="home"
          routerLinkActive="active">
          Home
        </a>
        <li class="list-group-item list-group-item-action"
          routerLink="drawing"
          routerLinkActive="active">
          Drawing
        </li>
        <li class="list-group-item list-group-item-action"
          routerLink="animation"
          routerLinkActive="active">
          Animation
        </li>
        <li class="list-group-item list-group-item-action"
            routerLink="photography"
            routerLinkActive="active">
          Photography
        </li>
        <li class="list-group-item list-group-item-action"
            routerLink="more"
            routerLinkActive="active">
          Additional Creations
        </li>
        <li class="list-group-item list-group-item-action"
            routerLink="about-me"
            routerLinkActive="active">
          About Me
        </li>
      </ul>
    </div>
  </div>

</div>
