<div class="collapse collapse-horizontal show sticky-top"
     [id]="id">
  <div
    class="min-vh-100 bg-dark text-bg-dark float-start pt-2">
    <div class="ps-3 pt-2 p-5">
      <h2>Viktoria Streibl</h2>
    </div>
    <div>
      <ul class="list-group list-group-flush list-group mt-5">
        <li class="list-group-item list-group-item-action"
          routerLink="home"
          routerLinkActive="active">
          Home
        </li>
        <li class="list-group-item list-group-item-action"
          routerLink="drawing"
          routerLinkActive="active">
          Drawing
        </li>
        <li class="list-group-item list-group-item-action"
          routerLink="animation"
          routerLinkActive="active">
          Animation
        </li>
        <li class="list-group-item list-group-item-action"
          routerLink="models"
          routerLinkActive="active">
          3D Models
        </li>
        <li class="list-group-item list-group-item-action"
            routerLink="photography"
            routerLinkActive="active">
          Photography
        </li>
        <li class="list-group-item list-group-item-action"
            routerLink="more"
            routerLinkActive="active">
          Additional Creations
        </li>
      </ul>
    </div>
  </div>

</div>
