@import "./navrail";
@import "./navbar";
@import "./button";
@import "./text";
@import "./card";

body{
  background-color: $background;

  font-family: Arial, Verdana, sans-serif;
  color: #dee2e6;
}

.mh-100 {
  max-height: 100%;
}
