app-navrail {
  .navrail {
    position: fixed;
  }

  .navrail-content {
    box-shadow: 0 .1rem 0.2rem rgba(white, .25);
    margin-right: 32px;
  }

  .list-group-item {
    padding: 16px;
    background-color: $background-darker;
    color: $dark-text-emphasis-dark;
    font-size: large;
    border: none;

    &:hover {
      background-color: $primary;
      color: $on-primary;
    }

    &.active {
      margin: 0 !important;
      font-weight: bold;

      background-color: $primary;
      color: $on-primary;

      border-right-style: solid;
      border-right-color: $secondary;
      border-right-width: 4px;
    }
  }
}
