@import "./theme";

$text-size: 12px;
$icon-size: 21px;

.nav {
  width: $nav-width;
  min-width: $nav-width;
  max-width: $nav-width;

  background-color: $surface;
  color: $on-surface;
  padding-top: 8px;

  .nav-item {
    text-align: center;
    margin-top: 16px;

    .bi-container {
      margin: auto;
      border-radius: 32px;
      height: 32px;
      font-size: $icon-size;

      width: $nav-width / 2;
      min-width: $nav-width / 2;
      max-width: $nav-width / 2;

      &.active {
        background-color: $secondary-container;
      }
    }

    .nav-link {
      color: $on-secondary-container;
      width: $nav-width;
      min-width: $nav-width;
      max-width: $nav-width;
      font-size: $text-size;
      text-align: center;
      padding-top: 0;

      &.active {
        font-weight: bold;
      }
    }
  }
}
