<div class="container gallery-container p-0">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Traditional Artworks</h2>
    </div>

    <div class="card-img-bottom">
      <div class="row mt-2 gallery-row">
        <div class="col-12 gallery-row">
          <app-gallery [images]="traditional()" subfolder="drawings"></app-gallery>
        </div>
      </div>
    </div>
  </div>


  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Digital Artworks</h2>
    </div>

    <div class="card-img-bottom">
      <div class="row mt-2 gallery-row">
        <div class="col-12 gallery-row">
          <app-gallery [images]="digital()" subfolder="drawings"></app-gallery>
        </div>
      </div>
    </div>
  </div>

</div>
