<div class="container gallery-container">

  <div class="row mt-4">
    <div class="col-12">
      <h1>Traditional Drawings</h1>
    </div>
  </div>

  <div class="row mt-2 gallery-row">
    <div class="col-12 gallery-row">
      <!--    *ngFor="let image of traditional()"-->
      <app-gallery [images]="traditional()" subfolder="drawings"></app-gallery>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1>Digital Drawings</h1>
    </div>
  </div>

  <div class="row mt-2 gallery-row">
    <div class="col-12 gallery-row">
      <!--    *ngFor="let image of traditional()"-->
      <app-gallery [images]="digital()" subfolder="drawings"></app-gallery>
    </div>
  </div>
</div>
